<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>

</head>

<body>
    <header>
        <nav>
            <ul>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>
                {% block h1 %}{% endblock h1 %}
            </h1>
            {% if user.is_authenticated %}
            <p><a href="{% url 'create_project' %}">Create Project</a></p>
            {% endif %}
            {% block content %}{% endblock content %}
        </div>
    </main>
</body>

</html>