<!DOCTYPE html>
<html lang="en">

<head>
    <title>Show Project</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                <li><a href="{% url 'list_projects' %}">Project list</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Signup</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>{{ shw_proj_key.name }}</h1>
            <p>{{ shw_proj_key.description }}</p>
            <h2>Tasks</h2>
            <p><a href="{% url 'create_task' %}">Create a new task</a></p>
            {% if shw_proj_key.tasks.all %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
                {% for fields in shw_proj_key.tasks.all %}
                <tr>
                    <td>{{ fields.name }}</td>
                    <td>{{ fields.assignee }}</td>
                    <td>{{ fields.start_date }}</td>
                    <td>{{ fields.due_date }}</td>
                    <td>{{ fields.is_completed|yesno }}</td>
                </tr>
                {% endfor %}
            </table>

            {% else %}
            <p>This project has no tasks</p>
            {% endif %}



        </div>
    </main>
</body>

</html>